尚硅谷前端教程/
mp4/
ajax封装.mp4
事件循环.mp4
s/
node_modules/
MySQL教程/
promise核心源码实现.mp4
面试录音/
#如果想要忽略所有以某个后缀名为后缀的文件
# *.md

#排除某个文件，不让被忽略，加：！即可
# !README.md

#排除根目录下面的文件夹：/+文件夹名字,其它目录下面的没有被忽略
# /test   

# 排除所有文件夹下的test文件夹
# */test
# 或
# test/
dist
.history

# test下面的js
# test/*.js
